*, ::after, ::before {
    box-sizing: border-box;
}

h1 {
    color: darkslategrey;
    font-size: 30px;
}

span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

nav {
    display: flex;
    justify-content: center;
}

.drop-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}

.dropdown .dropdown-content a {
    color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: visibility 0s, opacity 0.5s ease-out;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.category-bar {
    display: flex;
    background: none;
    justify-content: flex-start;
}

.category-bar li a {
    display: block;
    color: #000eff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.category-bar li a:hover {
    text-decoration: underline;
    background: none;
}

.unordered-list {
    color: #111;
    border: 1px solid #111;
}

.unordered-list li {
    padding: 5px 14px;
}

.unordered-list li .tag {
    display: inline-block;
}

.unordered-list li .tag a {
    font-size: 14px;
    margin-right: 5.76px;
    display: inline-block;
}

.unordered-list li .tag a:hover {
    text-decoration: none;
}

.unordered-list li a {
    color: #111;
    font-size: 24px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.unordered-list .list-item {
    float: none;
    padding: 5px;
    list-style-type: circle;
    background-color: #0CCCDC;
}

.unordered-list .list-item a {
    font-size: 20px;
}

.unordered-list .list-item a:hover {
    text-decoration: underline;
    background-color: #0CCCDC;
}

.unordered-list .list-post {
    float: none;
    padding: 5px;
    list-style-type: circle;
    background-color: #d7d7d7;
}

.unordered-list .list-post a:hover {
    text-decoration: underline;
    background-color: #d7d7d7;
}

.active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4CAF50;
}

.disabled {
    display: block;
    color: #696969;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.form-group {
    margin-right: 15px;
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 70%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-tag {
    color: rgba(0, 0, 0, 0.65);
    background-color: #E8E8E8;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}

.mb {
    display: flex;
    align-items: center;
    margin-botton: 0px;
}

.btn:hover {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #bfbfbf;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.pagination {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.bottom-header {
    margin-bottom: 10px;
}

.bottom-header button {
    color: #fff;
    background: #00a1b1;
    outline: none;
    border: none;
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.login-header {
    text-align: center;
}

.login-form {
    text-align: center;
}
